.comparison-icon {
  display: none;
  font-size: 2.2em;

  &.increase {
    display: inline-block;
    transform: rotate(-90deg);
    color: #0f903e;
  }

  &.decrease {
    display: inline-block;
    transform: rotate(90deg);
    color: #a31616;

    position: relative;
    top: -0.06em;
  }
}
