.react-grid-item {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #cbcbcb;
}

.grid-container {
  position: relative;
  background: #f3f4f6;
  border-radius: 10px;
  width: 100%;  

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    color: #4B5563;

    button {
      padding: 10px;
      color: inherit;

      &:first-child {
        flex: 1;
      }

      svg {
        margin-right: 10px;
      }
      height: 60px;
      border: none;
      background: none;
      text-align: left;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: inherit;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &.close {
    .fa-caret-down {
      transform: rotateZ(-90deg);
      animation: rotate-right 0.2s ease;
    }
  }

  &.open {
    .fa-caret-down {
      transform: rotateZ(0deg);
      animation: rotate-down 0.2s ease;
    }
  }

  &__content {
    overflow: hidden;
    .react-grid-layout {
      margin-bottom: 5px;
      margin-top: -10px;
    }
  }

  &.close &__content {
    max-height: 0px;
    animation: close 0.3s ease;
  }

  &.open &__content {
    max-height: 100%;
    animation: open 0.2s ease;
  }
}

.manage-cards {
  &__modal {
    background: #F3F4F6;  
    &__button {
      background: white;
    }
  }
  &__list-item {
    background: white !important;  
  }
}

@keyframes close {
  from {
    max-height: 2000px;
  }
  to {
    max-height: 0px;
  }
}

@keyframes open {
  from {
    max-height: 0px;
  }
  to {
    max-height: 2000px;
  }
}

@keyframes rotate-right {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-90deg);
  }
}

@keyframes rotate-down {
  from {
    transform: rotateZ(-90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
