@use 'src/styles/utils' as *;

.main-page {
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 16px 10px;
    > div {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 4px;

      align-items: center;
      color: $gray-7;
      > h1 {
        margin: 0 0 0.4em;
        font-weight: normal;
        font-size: 2em;
      }
      > p {
        &:first-child {
          margin-left: 0;
        }
        margin: 0 8px 0 16px;
      }
    }
    .menu-btn {
      height: 100%
    }
    .btn {
      height: 100%;
      padding: 0px 8px;
      color: $gray-7
    }
  }
}
