@use 'src/styles/utils' as *;

.panel {
  position: relative;
  width: 100%;
  min-width: 600px;
  background: $gray-2;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: $gray-7;

    &__button {

      height: 60px;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      color: inherit;
      text-align: left;
      background: none;
      border: none;

      &:first-child {
        flex: 1;
      }

      svg {
        margin-right: 10px;
      }

      i {
        font-size: 1.3em;
      }

      &:active {
        color: inherit;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &.close {
    .fa-caret-down {
      transform: rotateZ(-90deg);
      animation: rotate-right 0.2s ease;
    }
  }

  &.open {
    .fa-caret-down {
      transform: rotateZ(0deg);
      animation: rotate-down 0.2s ease;
    }
  }

  &__content {
    overflow: hidden;
    > div {
      margin: 16px;
    }
  }

  &.close &__content {
    max-height: 0;
    animation: close 0.3s ease;
  }

  &.open &__content {
    max-height: 100%;
    animation: open 0.2s ease;
  }
}

// .manage-cards {
//   &__modal {
//     background: $gray-2;
//     &__button {
//       background: $white;
//     }
//   }
//   &__list-item {
//     background: $white !important;
//   }
// }

@keyframes close {
  from {
    max-height: 2000px;
  }
  to {
    max-height: 0;
  }
}

@keyframes open {
  from {
    max-height: 0;
  }
  to {
    max-height: 2000px;
  }
}

@keyframes rotate-right {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-90deg);
  }
}

@keyframes rotate-down {
  from {
    transform: rotateZ(-90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
