@use 'src/styles/utils' as *;

.menu {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: 0;
  padding: 8px 0;
  opacity: 0;
  border: 1px solid $gray-4;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  transition: all 100ms;
  transform: scale(0.8);
  transform-origin: top right;
  background: $white;
  white-space: nowrap;

  li {
    display: block;
    margin: 0;
    &:hover {
      background: $gray-2;
    }
  }

  button {
    display: grid;
    margin: 0;
    padding: 8px 20px;
    background: none;
    font-size: 1em;
    border: none;
    grid-auto-flow: column;
    grid-gap: 1em;
    align-items: center;
    color: $gray-7;
    &:active {
      color: initial;
    }
  }
  &.is-open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
}