.grid-tile {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  &:hover {
    .tile-header {
      .tile-impact {
        display: none;
      }
      .tile-buttons {
        display: flex;
      }
    }
  }
  .tile-header {
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    align-content: center;
    align-items: center;
    .title {
      padding: 0;
      margin: 0;
    }
    .tile-impact{
      position: absolute;
      right: 0;
      margin-top: auto;
      .impact-title {
        position: relative;
        margin: auto auto;
        background: #E3F5FF;
        padding: 5px;
        border-radius: 5px;
      }
    }
    .tile-buttons {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      justify-content: space-between;
      i {
        height: 10%;
      }
      button {
        display: grid;
        margin: 0;
        background: none;
        font-size: 1em;
        border: none;
        grid-auto-flow: column;
        grid-gap: 1em;
        align-items: center;
        color: #4B5563;
        &:active {
          color: initial;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .tile-contents {
    height: 100%;
  }
}