@use 'src/styles/utils' as *;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  border: none;
  border-radius: 5px;
  margin: 0;

  background: $gray-2;
  color: $gray-8;

  &--primary {
    background: $aqua;
    color: $white;
  }

  &--white {
    background: $white;
    &:hover {
      background: $white;
    }
  }

  &--border {
    border: 1px solid $gray-4;
  }

  &:not(&--icon) {
    i {
      position: relative;

      &:first-child {
        left: -0.15em;
      }

      &:last-child {
        right: -0.15em;
      }
    }
  }

  &--icon {
    padding: 8px;
  }
}
