@use 'src/styles/utils' as *;

.select {
  $block: &;
  position: relative;
  min-width: 200px;

  $padding: 10px 12px;

  &__placeholder {
    box-sizing: border-box;
    padding: $padding;
    visibility: hidden;
    border: $gray-4 1px solid;
    h4 {
      margin: 0;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    background: $white;
    border: $gray-4 1px solid;
    border-radius: 5px;
    bottom: 0;

    > div {
      width: 100%
    }

    #{$block}.active & {
      width: unset;
      bottom: auto;
      box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    }

    #{$block}.disabled & {
      background: $gray-2;
    }

    #{$block}:not(.active) &:focus-within {
      border-color: $gray-5;
    }
  }
  
  i {
    position: absolute;
    top: 8px;
    right: 8px;
    pointer-events: none;
    color: $gray-6;
  }

  &__options-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    #{$block}.active & {
      overflow-y: scroll;
    }

    #{$block}.searchable:not(.active) & {
      display: none;
    }

    #{$block}.searchable & {
      border-top: 1px solid $gray-4;
    }
  }

  &__option {
    $option-block: &;
    box-sizing: border-box;
    flex: 1;
    padding: $padding;
    margin: 0;
    font-size: 1em;
    color: $gray-8;
    text-align: start;
    background: none;
    border: none;
    transition: color 0.1s;

    &__title {
      margin: 0;
      #{$block}:not(.active) &, #{$option-block}.no-subtitle & {
        font-weight: normal;
      }
    }

    &__subtitle {
      margin: 0;
      margin-top: 4px;
      font-weight: normal;

      #{$block}:not(.active) &, #{$option-block}.no-subtitle & {
        display: none;
      }
    }

    #{$block}:not(.active) & {
      padding-right: 24px;
    }    

    #{$block}.active &:hover, #{$block}.active &:focus {
      background: $gray-2;
      outline: none;
    }

    &:active {
      color: unset;
    }
  }

  &__input {
    box-sizing: border-box;
    padding: $padding;
    padding-right: 32px;
    margin: 0;
    font-size: 1em;
    background: $white;
    border: none;
    color: $gray-8;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &.active {
    height: unset;
    &:not(.searchable) i {
      display: none;
    }
  }

  &:not(.active) {
    h4 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &.searchable {
    i {
      font-size: 1.3em;
      right: 10px;
    }
  }
}

.select__label {
  margin-bottom: 0.5em;
}
